<!DOCTYPE html>
<html>
<head>
  <title>Updown</title>
  <%= stylesheet_link_tag    "updown/application", :media => "all" %>
  <%= javascript_include_tag "updown/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
